@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #1A1A2A;
}

#login-box{
    width: 700px;
    height: 500px;
    background-color: #253958;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#welcome-text{
    color: white;
    background-color: #253958;
    position: absolute;
    left: 38%;
    right: 38%;
    top: 20%;
    font-size: x-large;
}

.input-group{
    width: 300px;
    position: relative;
    top: 200px;
    left: 28%;
    right: 28%;
    
}

.form-control{
    background-color: #253958 !important;
}

.btn{
    background-color:  #1A1A2A !important;
    color: white;
    position: absolute;
    top: 62%;
    left: 45%;
}
.btn:hover{
    color: white;
}